[2016-01-17 20:37] rohn opened #1 "Sound can't be false"
Passing false for sound will play the Submarine sound.

[2016-01-17 20:37] rohn commented on #1
Pull Request #2 fixes this issue

[2016-01-18 19:13] RoccoC commented on #1
PR has been merged.

[2016-01-18 19:13] #1 closed

[2016-02-17 15:30] martinlindhe opened #3 "Different sound for error / success"
I'm trying to figure out how/if possible to have

on success: popup, play Submarine sound (the default)
on fail: popup, play Basso sound (errorish beep)

this would also be fine:
on success: popup, silent
on fail: popup, play Basso sound

the thing is i want a popup even on success (to see my tool was run),
so i cant exactly set the Basso sound and `alwaysNotify: false`

any ideas?

[2016-02-17 16:19] RoccoC commented on #3
Unfortunately, setting a different sound for errors vs warnings isn't supported at the moment, but it would be very easy to implement. I can make the change sometime today.

[2016-02-17 17:09] RoccoC commented on #3
@martinlindhe , I've added two new config options to allow specifying of different sounds for success vs failure. These are available in v0.1.8.

You can accomplish what you want by passing `failureSound: "Basso"` in the WebpackBuildNotifier config. The notifier will then play the default sound on success and "Basso" for errors and warnings.

Thanks for the sugestion!

[2016-02-17 17:09] #3 closed

[2016-02-17 18:37] martinlindhe commented on #3
Wow! very nice, i can conform it working :-)

[2016-07-14 16:19] gregoks opened #5 "chars instead of colors in windows 10 notification"
Hi,

In windows 10 it shows chars (37m([39m...) instead of what I assume colors:

![capture](https://cloud.githubusercontent.com/assets/15245808/16847073/cf41d310-49f7-11e6-86ae-5747c4088228.PNG)

Thanks,

Greg

[2016-07-14 16:59] RoccoC commented on #5
@gregoks, thanks for the bug report. Turns out that this is an issue across platforms. Let me see if I can come up with a quick fix. :)

[2016-07-14 17:35] #5 closed

[2016-07-14 17:35] RoccoC commented on #5
This should be fixed in the latest version, 0.1.10. Thanks again!

[2016-07-16 19:44] mikeerickson opened #6 "Error in plugin??"
I am not sure if this is your error, or some other outside configuration.

[code]

[2016-07-17 01:09] RoccoC commented on #6
Yep, looks like a bug introduced in the last commit. I'll get it fixed. Thanks.

[2016-07-17 01:10] mikeerickson commented on #6
10/4 have fun :)

[2016-07-17 01:33] #6 closed

[2016-07-17 01:33] RoccoC commented on #6
Fixed in v 0.1.11.

[2016-07-17 07:36] gregoks commented on #5
worked like a charm! Thanks!

[2016-07-21 17:27] mikeerickson commented on #6
Works fabulously again 💯

[2016-07-24 21:51] hulkish commented on #6
I'm still seeing this issue in 0.1.11:

[code]

[2016-07-25 19:34] RoccoC commented on #6
@hulkish , thanks for the PR. I've merged it and also added a couple more null checks. Feel free to update to v0.1.12 and open a new issue if you find anything else. Thanks!

[2016-07-29 20:25] hulkish commented on #6
np!

[2016-08-27 04:22] ahmedghoneim92 opened #8 "Not working on macOS Sierra"
After upgrading to sierra, I re-installed the plugin to make sure it builds correctly. Still though, I get no notifications. The terminal activation option ( on error ) works though. How can I provide you with more information for this issue?
Thanks 😊

[2016-08-27 14:16] RoccoC commented on #8
Perhaps an issue with the node-notifier package...I will upgrade my system to Sierra and will take a look. Thanks for the report.

[2016-09-04 15:28] #8 closed

[2016-09-04 15:28] ahmedghoneim92 commented on #8
Turns out it was something wrong at my side. Nevermind, thanks :)

[2016-10-07 16:29] andrewdavidcostello opened #9 "Error: spawn ENAMETOOLONG"
When an error is too long it causes Webpack to exit with:

`Error: spawn ENAMETOOLONG`

It would be good to have a max length of the raw output (and truncate it) or even better options for a custom message for warning and error as having the raw output in the error isn't too helpful anyway.

[2016-10-07 16:48] RoccoC commented on #9
Thanks for the report.

Is this occurring on a Windows machine? I haven't come across this issue in OSX, and generally the notification messages I've seen always contain a filename and line number, which is helpful IMO.

That said, it would make sense to truncate the error since its length usually exceeds that which can be displayed in the notification, and support for custom messages would be use

[2016-10-07 17:39] andrewdavidcostello commented on #9
Sorry thought I put that. Yep unfortunately stuck on Windows 10. Oh yeah sometimes they are handy but a lot of the errors we have been getting lately it may just be nicer to have the option to simplify the message, especially when there is more than one error.

Thanks.

[2016-10-07 21:03] RoccoC commented on #9
Just to confirm, in the case when you see the `ENAMETOOLONG` error, does Webpack no longer exit if you remove the WebpackBuildNotifer plugin?

IIRC, Windows imposes a 260 char limit on file paths...not sure if this is still the case in Win10 or if this is even the cause of the error.

I tried to reproduce but was unable to. I'll get my hands on a Windows machine and try again though.

[2016-10-07 21:23] andrewdavidcostello commented on #9
Yep if I remove it Webpack runs fine. The rest of the trace shows that it originates in the toast notification of Windows 10. I don't have my work machine with me right now but I will try and get more detail.

[2016-10-07 22:25] RoccoC commented on #9
Great, thanks for the response. I'll take a closer look and will put together a fix soon. Thanks!

[2016-10-19 19:32] RoccoC commented on #9
@andrewdavidcostello , I did some testing on my Windows machine and wasn't able to reproduce the ENAMETOOLONG issue that you describe. Do you have any deeply nested files in your project that could be resulting in a excessively long filepath?

In any case, the latest build, *0.1.13*, offers a messageFormatter configuration option to allow for custom notification message formatting. Could you try i

[2016-10-19 19:32] #9 closed

[2016-10-20 11:44] andrewdavidcostello commented on #9
Since doing the Windows 10 anniversary update I can't seem to repro this anymore, however if it does occur again the messageFormatter is working perfectly so thanks for adding that.

[2017-02-15 17:05] QuantumInformation opened #11 "Repeat notifications disabling."
Sometimes when running with webpack a build will happen several times, when using `webpack --watch --watch-poll`. Is there a way to force this plugin to only give 1 notification until only a file change makes a build again?

[2017-02-15 17:39] RoccoC commented on #11
Will setting `suppressSuccess` to `true` accomplish what you want? This will prevent successive notifications from appearing for successful builds. I am not sure how it will behave with `--wath-poll`, however I would assume that if the build has errors you will see an error notification for each failure each time webpack builds...

[2017-03-03 07:44] RoccoC commented on #11
Closing for now. @QuantumInformation , re-open if you still have an issue, or feel free to submit a PR. :)

[2017-03-03 07:44] #11 closed

[2017-05-23 06:51] jun3838 opened #12 "Notifier doesn't work while mirroring screen"
When you have multiple screen connected and you are mirroring the screen, notifier doesn't work

[2017-05-23 17:34] RoccoC commented on #12
Thanks for the report. Is this on Windows or MacOS? What version?

[2017-06-14 08:19] codeuniquely opened #14 "Just did fresh install - version with warning sound not installed.."
Can we bump the npm version number by 0.0.1 in package.json to make sure that we get the version with the configurable warning sound, when we install.

This code that is actually pulled from npm for '0.1.13' is this:

[code]

but was expecting the additional code to be included (as per gitHub)
https://github.com/RoccoC/webpack-build-notifier/blob/master/index.js

[code]

The comments in each code

[2017-06-14 13:28] RoccoC commented on #14
@codeuniquely , thanks for pointing this out...looks like we forgot to bump the version when that new config option was added. Fixed.

[2017-06-14 13:28] #14 closed

[2017-06-18 23:27] theskillwithin opened #15 "Error: Cannot find module 'lodash._baseclone'"
help can't seem to figure out this issue
[code]

[2017-06-22 22:16] RoccoC commented on #15
@theskillwithin , I wasn't able to reproduce this issue. What version of node/npm are you using? Win or Mac OS?

[2017-07-11 14:23] RoccoC commented on #15
Closing this as I was unable to reproduce on Windows or Mac OS. Please re-open with details on a reproduce case and I will investigate. Thanks!

[2017-07-11 14:23] #15 closed

[2017-07-19 15:25] develar opened #17 "suppressSuccess — ability to suppress notification after first run"
I am working to integrate this excellent (because opposite to alternatives, icons are shown correctly) into electron-webpack.

[code]

Use case: run `yarn dev` (run webpak-dev-server / webpack in a watch mode).

Expected: no success notification. Expected only if first successful compilation or following a failed build. I don't want to show notification if all is ok (first run). Only errors/warnin

[2017-07-22 02:45] RoccoC commented on #17
@develar, thanks for submitting. Just so I understand, are you asking for the ability to completely suppress the success notifications, even in the case of first success after a failure, first run, etc?

[2017-07-22 06:17] develar commented on #17
I want to see success notification only when it makes sense.

In my use case, run app in a development mode:

* On start, `yarn dev`, 2 parts are compiled. Success notification not needed because it is clear — app will be or started (window opened), or will be failure notification. In this case success notification will be just annoying.
* During run (watch mode), no need to notify about success —

[2017-07-25 01:27] RoccoC commented on #17
Thanks for the clarification. At present, when the `suppressSuccess` config option is set to *true*, the success  notification will still appear when compilation is first successful and each time after compilation succeeds following a compilation error.

Based on your previous comment (https://github.com/RoccoC/webpack-build-notifier/issues/17#issuecomment-317159474), I can make a change to suppor

[2017-07-25 06:01] develar commented on #17
Not clear for me why `suppressSuccess=true` doesn't really suppress :) A little bitcounterintuitive for me. But as it will be a  breaking change and you are more "in a context", I like `initial` option value as a solution. Thanks.

[2017-07-25 07:17] RoccoC commented on #17
Yeah, I understand. Like you mentioned, the main reason I didn't want to change that behavior is to introduce a "breaking" change. I will make the change to add `initial` and maybe an `always` option and will update the docs as well. Thanks!

[2017-07-25 16:57] RoccoC commented on #17
I've updated to add the `initial` and `always` options as discussed. Unfortunately not the most intuitive, but by setting `supressSuccess: "initial"` you should get the behavior you are after.

[2017-07-25 16:57] #17 closed

[2017-07-27 10:44] develar commented on #17
@RoccoC Thanks a lot. Works as expected.

[2017-09-12 12:58] codeuniquely opened #18 "Error: spawn EACCES error - V0.1.16"
Mac OS Sierra 10.12.6
Webpack 1.13.2

When building the project - get the following error
(everything was building fine - and using notifications v0.1.14 in the project)

Also project builds fine if I remove the Notifier plugin from webpack config......

[code]

[2017-09-12 17:17] RoccoC commented on #18
Thanks for the report. Looks to be related to https://github.com/mikaelbr/node-notifier/issues/199.

What version of NPM are you using? Can you try upgrading to npm v5.4.1 and reinstalling your node_modules?

[2017-09-12 18:17] codeuniquely commented on #18
cheers - that did the trick -

upgrading to V5.4.1 (from V5.4.0) worked ...

Thanks

[2017-09-12 18:17] #18 closed

[2017-10-25 00:51] jimblue opened #19 "Feature request: init notification"
Hello!

First thank you so much for this very nice plugin, I love it !

I have a feature request to improve the experience while building.

It could be nice to have a notification on save as build process just start.
This feedback should give a nice responsiveness feeling but also would informe user about a potential problem.

Also a switch to activate this feature or not should be create.

And yo

[2017-10-29 16:34] RoccoC commented on #19
Hi @jimblue, thanks for the feature request!

Yes, I could see this as being useful, and with a toggle to enable this functionality (disabled by default?) it would not create a bunch of noise for those who do not want the extra notifications.

Do you want to have a go at adding the feature and creating a PR? :)

[2017-11-04 14:41] jimblue commented on #19
Yes disable by default make sens for old user.

I know scss and twig a bit but js... sorry

[2017-11-07 01:41] RoccoC commented on #12
Closing due to no response.

[2017-11-07 01:41] #12 closed

[2017-11-07 02:29] RoccoC commented on #19
@jimblue , I've added this feature in commit d9a2c88 for version 0.1.17. You can enable by passing `suppressCompileStart: false` to the plugin options. Let me know how it goes!

[2017-11-07 02:29] #19 closed

[2017-11-07 02:56] jimblue commented on #19
Working like a charm! Thank you so much, it's very nice 👍

[2017-11-27 01:16] sgehrman opened #20 "ENAMETOOLONG on Windows"
This has been working great for a while, but now getting this:

using electron-webpack, all packages are updated

Error: spawn ENAMETOOLONG
      at _errnoException (util.js:1024:11)
      at ChildProcess.spawn (internal/child_process.js:323:11)
      at exports.spawn (child_process.js:502:9)
      at Object.exports.execFile (child_process.js:212:15)
      at Object.module.exports.fileCommand (f:\

[2017-11-29 02:41] RoccoC commented on #20
Thanks for the report.

I see you've found the related node-notifier issue (https://github.com/mikaelbr/node-notifier/issues/145), but I will see if there's anything I can do to debug this from my side.

[2017-11-29 03:25] sgehrman commented on #20
Found out that if there is a large error it fails. I keep seeing this if git converts LF to CRLF then every CR is an error the linter and makes every line an error.

[2017-11-30 16:41] RoccoC commented on #20
In that case, we could probably truncate/limit the error string to a max length before calling `notify()`. Will have a look today.

[2017-11-30 16:56] RoccoC commented on #20
@sgehrman, can you please confirm your Windows version as well as the version of node-notifier that you have installed?

[2017-11-30 17:49] RoccoC commented on #20
@sgehrman, this has been fixed in the latest version (0.1.18). Can you give it a go and let me know if it resolves your issue?

[2017-11-30 21:44] sgehrman commented on #20
Thanks for looking at this.  I don't seem to see any notifications now, but it didn't crash like before.  I'll do some more testing to confirm, but check if it gives any notifications on Windows.

[2017-11-30 22:17] sgehrman commented on #20
yeah, no messages now. I think this is wrong.

You changed it, but your change seems incorrect.

+WebpackBuildNotifierPlugin.prototype.defaultMessageFormatter = function(error, filepath) {
      return filepath + os.EOL + (error.message ? error.message.replace(error.module ? error.module.resource : '', '') : '');		      return filepath + os.EOL + (error.message ? error.message.replace(error.module

[2017-11-30 22:17] RoccoC commented on #20
Hmm, I tested on Windows 10 Version 1703 (OS Build 15063.726) using node-notifier v5.1.2. Let me know if you are still having issues and whether your setup is different.

[2017-11-30 22:25] sgehrman commented on #20
your last commit

[2017-11-30 22:36] sgehrman commented on #20
I'm Windows Pro 1709 build 16299.64

[2017-12-01 18:53] RoccoC commented on #20
OK, will investigate today.

[2017-12-05 21:12] RoccoC commented on #20
@sgehrman, looks to be an issue with Windows build 1709: https://github.com/mikaelbr/node-notifier/issues/206

[2017-12-05 21:40] sgehrman commented on #20
Ok. Good to know.

On Dec 5, 2017 1:12 PM, "Rocco Cataldo" <notifications@github.com> wrote:

[2017-12-13 23:23] RoccoC commented on #20
@sgehrman, I finally updated to Windows build 1709 (Fall Creator's Update) and was able to reproduce. The latest version of webpack-build-notifier (0.1.19) should now generate notifications in Windows. Can you please take a look and let me know if you are still having issues?

[2017-12-13 23:46] sgehrman commented on #20
doesn't seem to work.  Maybe I'm just confused, I'll do some more tests.

[2017-12-14 03:37] RoccoC commented on #20
Hmm, OK...can you run the following command in powershell and post back with the output?

`Get-StartApps | Select-String -Pattern "node.exe"`

[2017-12-14 03:42] sgehrman commented on #20
@{Name=Node.js; AppID={6D809377-6AF0-444B-8957-A3773F02200E}\nodejs\node.exe}

[2017-12-14 03:51] RoccoC commented on #20
Thanks for the quick reply.

This is what I am expecting, must be something else going on. I will look into how notifications work on Windows to see what I can find out.

[2017-12-14 06:33] RoccoC commented on #20
OK! I am hoping my latest commit (df8e499104afbe0c199fd76c71435ea35d701d78) has fixed this issue for those on Windows build 1709.

Seems that prior to this Windows build there was a bug/loophole where any app could generate notifications, rather than known/installed apps (there are several posts around the interwebs describing this, e.g. https://stackoverflow.com/a/46817674/181483). The fix I've d

[2017-12-14 06:33] #20 closed

[2017-12-14 06:47] RoccoC commented on #20
FYI, the fix is in webpack-build-notifier@0.1.21 which is now published to the npm registry.

[2018-01-13 19:41] saiichihashimoto opened #21 "iTerm2 support"
I'm currently using [iTerm2](https://www.iterm2.com/) rather than terminal and both the `activateTerminalOnError` and `onClick` opens a new Terminal (not ideal).

So two questions:

- Can iTerm2 be supported by default? And, if not,
- What's the quickest path to me solving this in my own project (ie is there a parameter for which application gets opened that I can change)?

[2018-01-13 19:43] saiichihashimoto commented on #21
Keeping in mind that my coworkers *don't* use iTerm2 and use the default Terminal.

[2018-01-13 19:43] saiichihashimoto commented on #21
Keeping in mind that my coworkers *don't* use iTerm2 and use the default Terminal.

[2018-01-14 05:57] RoccoC commented on #21
We can fix this. Definitely should add a config option (or somehow figure out the spawning app) rather than hardcode to terminal.

[2018-01-14 06:40] saiichihashimoto commented on #21
That would be great! It would be ideal if it detected which one so the command could work for all of us!

[2018-01-16 19:30] #21 closed

[2018-04-09 12:34] Luckyfella73 opened #23 "Notification gone after Mac update"
Hi,

after updating my macbook to High Sierra 10.13.4 (from 10.13.3) and upgrading to command line tools 9.3 (from 9.2) I don't get any notifications anymore - no sound and no notice (in the right top corner of the screen). Yesterday (before upgrading) it worked fine and I didn't install anything else. I get no error message in terminal and changes I make in the code are processed by webpack.

Any

[2018-04-09 21:17] RoccoC commented on #23
I have yet to update to High Sierra 10.13.4 -- I will update and see what I can find out.

[2018-04-18 04:41] jimblue opened #25 "Bug with new hooks API for webpack 4"
Hi @RoccoC !

While upgrading to webpack 4 I noticed this deprecation warning for a while:

`(node:8154) DeprecationWarning: Tapable.plugin is deprecated. Use new API on '.hooks'instead`

I just update to your new release `webpack-build-notifier 1.24` and it fixed the deprecation warning :+1!

Sadly it also introduce a bug... webpack is watching files forever and never serve build assets.

I don't

[2018-04-18 04:59] jimblue commented on #23
Can't reproduce problem @Luckyfella73 with the same config:

webpack 4.6
webpack-build-notifier 0.1.23
Mac OS X 10.13.4
CLTools 9.3

[2018-04-18 08:50] Luckyfella73 commented on #23
@jimblue thanks for testing. Could you check once more using `"webpack": "^3.11.0"` in package.json ? I didn't switch to webpack 4.x yet.

[2018-04-18 09:05] RoccoC commented on #25
@jimblue, thanks for the report. I'll take a look at this now.

CC: @MortenHoustonLudvigsen

[2018-04-18 09:24] RoccoC commented on #25
@jimblue, this issue should now be fixed in 0.1.25. Please have a look and let me know if you are still experiencing any problems. Thanks!

[2018-04-18 16:05] #23 closed

[2018-04-18 16:51] RoccoC commented on #23
No worries, @Luckyfella73. Glad you got it sorted out!

[2018-05-29 21:42] ntavelis opened #26 "Make the new note-notifier options configurable."
Hello,

Thank you for this package. Would it be possible to make the new note-notifier options configurable from this package ?

 // New in latest version. See `example/macInput.js` for usage
    timeout: 5, // Takes precedence over wait if both are defined.
    closeLabel: void 0, // String. Label for cancel button
    actions: void 0, // String | Array<String>. Action label or list of labels in

[2018-05-30 15:50] RoccoC commented on #26
Hi there, thanks for the request. I do agree with your suggestion to accommodate a notifier config object and will have a look at updating this plugin in the next couple of days. 👍

[2018-05-30 15:52] RoccoC commented on #26
Although looks like you've already created your own here: https://github.com/ntavelis/webpack-build-notifications

Why not submit a PR?

[2018-05-30 16:28] ntavelis commented on #26
Yeah, I was experimenting with the web pack lately. Basically I made a number of changes that I wasn't sure that would be OK with you.

That being said, this package uses your library. https://github.com/ntavelis/pretty-mix-notifications

Do you want me to make a PR here? If the changes are fine to you, there will be no need to maintain and the package you mentioned

[2018-05-31 15:33] RoccoC commented on #26
@ntavelis, I've updated webpack-build-notifier to now accept `onTimeout` and `notifyOptions` as new config options. Please try out v0.1.26 and let me know if you have any questions or issues. Thanks again! 👍

[2018-05-31 15:33] #26 closed

[2018-05-31 16:17] ntavelis commented on #26
Thank you! I will test it and let you know.

[2018-06-05 23:00] atdiff opened #28 "Allow webpack to finish?"
Is there a way to allow webpack to still finish processing and exiting out of the build after the notification has appeared?  As long as the notification is on the screen, webpack won't complete the process.

[2018-06-05 23:04] atdiff opened #29 "Error when installing SnoreToast AppID"
I get the following error when webpack starts up related to the build notifier.  Everything still ends up working but it throws the error at the beginning.

[code]

[2018-06-06 01:08] RoccoC commented on #29
Thanks for the report. Can you confirm which OS and version you are using?

[2018-06-06 01:09] RoccoC commented on #28
Try passing a `timeout` of 0 in `notifyOptions`:

[code]

[2018-06-06 15:53] atdiff commented on #28
Didn't appear to make a difference.  If I hover over the notification and keep it up, the build still doesn't complete.

[2018-06-06 15:54] atdiff commented on #29
Windows 7

[2018-06-22 14:16] RoccoC commented on #28
Apologies for the delay on this, taking a look today.

[2018-06-30 17:48] RoccoC commented on #28
@atdiff - this is fixed in 0.1.28. The success notifications will no longer prevent the build from completing.

[2018-06-30 17:50] RoccoC commented on #29
@atdiff, can you please see if this is still reproducible in the latest version of webpack-build-notifier (0.1.28)? This version updates to node-notifier@5.2.1, which I am hoping fixes the problem. Thanks!

[2018-07-02 14:44] atdiff commented on #28
@RoccoC do I need to still set the notifyOptions timeout to 0?

[2018-07-02 15:13] atdiff commented on #28
As long as I keep the notification open and active (moving mouse around the notice), the webpack build doesn't end.  But as soon as I close it or allow it to fade away, the build ends shortly after it.

[2018-07-02 15:14] atdiff commented on #29
Unfortunately the error still gets thrown in the log even though the notifier ultimately ends up working.

[2018-07-11 04:10] RoccoC commented on #28
Well crap! No, you shouldn't need to set the timeout to 0.

But, the change I made will only prevent the success notifications from holding up the build; errors or warnings will still hold the build until the notification is dismissed (this is intentional, so the notification can respond to clicks).

Can you tell me which build of Windows 7 you are on so I can try and reproduce? Works as expected

[2018-07-11 04:12] RoccoC commented on #29
Strange, must be specific to the build of Win7 you are running. If you send over the version/build number I can try and reproduce on my end. Reopening.

[2018-08-21 10:15] DocCoding opened #30 "Compilation notification sound cannot be changed/disabled."
The 'compileStart' notification has a sound even if the `sound` option is set to `false`.

It seems it is not affected by the `sound` option in general, and it has no option on its own.

[2018-08-24 15:47] DocCoding commented on #30
@RoccoC Possibly add the `bug` label to this issue, since I think it is one.

[2018-08-24 16:12] RoccoC commented on #30
Fair enough, added the bug label and merged your PR. Thanks!

[2018-08-24 16:13] #30 closed

[2018-08-24 16:36] RoccoC opened #32 "Add Unit Tests and CI"
At present this project has no unit tests or continuous integration checks. Would be nice to add some!

[2018-08-30 09:06] jpmnteiro commented on #29
Can confirm the issue.

- webpack-build-notifier version 0.1.29
- Windows 7 Pro SP1 (version 6.1.7601.65536)

[2018-09-12 17:31] 9deepan9 commented on #29
I too face the same issue (An error occurred while attempting to install the SnoreToast AppID!):
  -  "webpack-build-notifier": "0.1.28"
  -  Windows 7 Enterprise

Thanks.

[2018-10-29 18:46] saurabhnemade commented on #32
@RoccoC Hope this helps.

PR #33 is added. Very basic test cases with jest are added. Couldn't find a way to test compiler options yet however test case with full webpack build is added.

For Travis CI Configuration:
- Currently it will simply build and send email.

Auto Deploy configuration can also be done with following added to .travis.yml

[code]

In case, you want to add deploy configuration

[2018-10-30 15:56] RoccoC commented on #32
@saurabhnemade , thank you, this is great! I will review today. Thanks again for your help with this!

[2018-10-31 09:57] RoccoC commented on #32
PR merged! Thanks again for the help with this. ;)

[2018-10-31 09:57] #32 closed

[2019-01-08 22:29] jimblue opened #34 "[FR] provide access to timeout option"
Hi,

Node notifications are displayed by default for 5s long seconds and that can be annoying.
It seems that node notifier have a **timeout** option to change that.

It could be nice to be able to access this settings from your plugin.

Cheers

[2019-01-08 23:50] RoccoC commented on #34
Hi @jimblue,

You should be able to pass any `node-notifier` options as part of the `notifyOptions` config: https://github.com/RoccoC/webpack-build-notifier#notifyoptions

Can you give it a try and let me know if that doesn't work?

[2019-01-09 01:05] jimblue commented on #34
Sorry didn't read the doc enough, it's working great :)

[2019-01-09 01:05] #34 closed

[2019-01-09 01:12] RoccoC commented on #34
No worries, glad it worked out!

[2019-03-19 14:01] muuvmuuv opened #35 "TypeScript support?"
What about a type definition for `webpack-build-notifier`? I would like to discuss if this makes sense for you. I'm using webpack with TypeScript and this would prevent me from creating a global.d.ts file with just `declare module 'webpack-build-notifier'` and helps me with typings.

[2019-03-20 02:08] RoccoC commented on #35
Sure, that's a great idea.

There are a couple of options. We could manually define the project type definitions in a `d.ts` file, or convert the project over to TypeScript and let TS generate the definitions. I can pick this up in the next few days unless you were interested in tackling it? ;)

[2019-03-20 07:30] muuvmuuv commented on #35
@RoccoC great! I tried it with no good result. I'm not very good at declaring types (still on my to do) and I think it's better you take on this as the person who knows exactly what which function/call does. :)

[2019-03-20 07:32] muuvmuuv commented on #35
I would personally create an own Type Definition instead of letting TS does the job. It is good for a starting point but sometimes not ideal.

[2019-03-20 17:10] RoccoC commented on #35
@muuvmuuv - created a PR for this, here: https://github.com/RoccoC/webpack-build-notifier/pull/36

[2019-03-21 18:31] RoccoC commented on #35
PR merged.

[2019-03-21 18:31] #35 closed

[2019-03-28 08:03] muuvmuuv commented on #35
Awesome!

[2019-04-13 22:07] ashrafhadden opened #37 "onClick not working"
- mac v10.14.4
-  webpack-build-notifier v0.1.31

The onClick config option is not working, it does nothing even with default setting which is supposed to open the Terminal app. Playing around with shelljs and child_process `exec` didn't work either.

If you could verify that it's working and then also provide an implementation code example in the README, for example to run command `open http://lo

[2019-04-15 11:56] muuvmuuv opened #38 "Property 'onClick' is missing"
Why do I need to handle onClick by myself? In the docs it says ["by default"](https://github.com/RoccoC/webpack-build-notifier#onclick) so I guess this should be optional:

[code]

see: [index.d.ts#L96](https://github.com/RoccoC/webpack-build-notifier/blob/master/index.d.ts#L96)

[2019-04-15 12:26] muuvmuuv opened #39 "WebpackBuildNotifierPlugin is not a constructor"
When running webpack with ts-node (webpack.config.ts) I get this error:

[code]

In a basic JS node application everything seems fine. Maybe this is because `webpack-build-notifier` in not a class?

I import it with `import { WebpackBuildNotifierPlugin as BuildNotifier } from 'webpack-build-notifier'`.

If it is because it is not a class, it would be great if someone would rewrite it to a class.
H

[2019-04-16 16:37] RoccoC commented on #39
Can you try changing the import to:

`import WebpackBuildNotifierPlugin as BuildNotifier from 'webpack-build-notifier';`

[2019-04-16 16:38] RoccoC commented on #38
You are right, `onClick` should be made optional.

[2019-04-16 16:41] RoccoC commented on #37
Thanks for the report. Will take a look!

[2019-04-16 17:25] muuvmuuv commented on #39
This was the method I used before, but now it seems like it does not work anymore...

`Module '"..../node_modules/webpack-build-notifier/index"' has no default export. ts(1192)`

[2019-04-16 17:28] RoccoC commented on #38
Fixed in 0.1.32.

[2019-04-16 17:28] #38 closed

[2019-04-16 17:29] RoccoC commented on #39
Ah, looks like there was no default export in the TS definition. Can you please upgrade to 0.1.32 and try again please?

[2019-04-16 19:03] muuvmuuv commented on #39
Nope, still getting this error above. You can have a look at my webpack file here: https://github.com/muuvmuuv/vscode-sundial/blob/master/webpack.config.ts.off

[2019-04-16 20:23] RoccoC commented on #39
OK -- found that mt TS definition implied that this plugin is exported as a default ES6 export, which isn't the case (it's currently a commonJS module). I corrected the definition, but now you will need to upgrade to version 1.0.0 and change your import to `import * as WebpackBuildNotifierPlugin from 'webpack-build-notifier'`.

Let me know how it goes!

[2019-04-17 06:47] muuvmuuv commented on #39
@RoccoC did u pushed the version to NPM? I get no update. np. I will add it manually in my node_modules for testing

[2019-04-17 06:54] muuvmuuv commented on #39
Yes, copied index.d.ts and index.js content into my node_modules and it worked! Thanks :)

[2019-04-17 07:07] muuvmuuv commented on #39
Nevermind, I forgot to do `npm i webpack-build-notifier@latest`..

[2019-04-17 07:07] #39 closed

[2019-04-17 15:05] RoccoC commented on #39
Glad it worked out! Thanks!

[2019-04-23 21:07] ggedde commented on #34
@RoccoC
Is it possible to do that for different types?
I would like the success to go away after 5 seconds, but errors stay on much longer.

[2019-04-23 21:08] ggedde opened #40 "Timeout Inconsistency"
This might just be a configuration issue, but my success messages don't go away, but might error messages timeout after 5 seconds and then go away.

I am on Mac 10.14.2

I am looking actually to reverse this.  I would like Errors to stay on until I click close or dismiss. I have my mac notification settings to set the Terminal Notifications to Alerts, which should make them stay on until clicked.

[2019-05-04 07:20] RoccoC commented on #40
Thanks for the report. Will take a look to see if I can reproduce the issue you described. Should be able to add individual timeout options as well.

[2019-06-18 23:00] ashrafhadden commented on #37
@RoccoC Dunno if you did anything but it totally works now!

[2019-06-19 00:54] RoccoC commented on #37
Awesome, glad to hear and thank you for letting me know! Must have been fixed by way of the recent node-notifier upgrade. ;)

[2019-06-19 00:54] #37 closed

[2019-08-14 15:14] david-hollifield opened #43 "Notifications not showing up on Windows 10"
After an update to Windows 10 1903, notifications stopped popping up. They *do* show up as notifications in the notification area after a reboot. Any ideas?

[2019-08-14 20:46] RoccoC commented on #43
Hi @david-hollifield , thanks for the report! I'm seeing the same thing after upgrading to Windows 10 1903 as well. I will investigate, but may be something that needs to be addressed in `node-notifier`: https://github.com/mikaelbr/node-notifier/issues/277.

[2019-08-28 08:10] quintonn commented on #43
Hi @RoccoC,
I'm experiencing the same issue.
I notice in your call to notifier.notify you set the wait flag to !buildSuccessful.
So that means wait is set to false. On the node-notifier link you posted, wait should be set to true to work around the windows issue.
Is that maybe something you can change in your code, or is there a reason you don't want to set wait to true?

[2019-08-29 08:08] muuvmuuv opened #45 "Success message blocks webpack to finish process"
As you can read in this [issue on webpack](https://github.com/webpack/webpack/issues/9641) from me, webpack takes way to long to finish. We figured out that it is this plugin and the success message that causes the delay. I have seen that in #28 there was already something like that but that didn't help me.

[2019-08-29 14:55] RoccoC commented on #45
Hi @muuvmuuv , thanks for the report!

Looks like this issue should be fixed in `node-notifier@5.4.1`: https://github.com/mikaelbr/node-notifier/pull/271

I just published a new version (1.1.1) that uptakes the node-notifier fix and it seems to be working on my Windows machine (I will test out on OS X a bit later). Let me know if it doesn't fix your issue!

[2019-08-29 15:16] RoccoC commented on #43
Hi @quintonn, good question. Setting `wait` to true does fix the issue with missing notifications in Windows 10, but it also prevents the webpack build from completing until the notification is dismissed, which would regress #45.

I suppose we could temporarily set wait to true on Windows machines until the root cause is fixed? Thoughts?

[2019-08-30 10:18] quintonn commented on #43
Hi @RoccoC, I didn't realize it prevents a build until the notification is dismissed.
Would it help calling the notify with setTimeout?
I tested it on my computer and it seemed ok.
I will create a PR and you can decide if you want to keep it.

[2019-08-30 10:36] quintonn commented on #43
This fix might fix bug 45 also?

[2019-09-03 08:25] muuvmuuv commented on #45
That solved it, thanks!

[2019-09-03 08:28] #45 closed

[2019-09-11 16:10] RoccoC commented on #43
@quintonn , just tested out your PR, thanks. In my testing it seems that while the notification is now shown consistently in Windows (due to setting `wait` to `true`), the build is still blocked until the notification is dismissed. I wonder if we could instead fork a detached process to dispatch the notification? I'll try and think of other solutions, open to any suggestions as well. :)

[2019-09-13 08:46] quintonn commented on #43
I've tested this change but i don't see notifications now.
But looking at the index.js file, you've removed the setTimeout on the call to notifier.notify.

And also wait is set to !buildstatus again, which is false.

If i set wait to true, i see the notification but build doesn't complete.
It needs to the timeout feature for this to work i think.

But i am wondering if all of this is worth it, The

[2019-09-13 09:05] quintonn commented on #43
If i put the setTimeout back on the notifier.notify call and with webpack watch, if i make a change, save it, it shows the notification, and without closing the notification, if i make another change and save it, it shows another notification.

I think the issue might be related to the fact that Node only uses 1 thread, so the setTimeout only moves that call to be the last call being executed, so

[2019-09-13 17:32] RoccoC commented on #43
Which version of webpack is your project using?

[2019-09-14 06:08] quintonn commented on #43
"webpack": "^4.39.2",
 "webpack-build-notifier": "RoccoC/webpack-build-notifier#bugfix/blocking-notifications",

I see there is a bit newer version. will try that one

[2019-09-14 06:20] quintonn commented on #43
On new version it showed the notification on the first build without waiting for the notification to be dismissed, perfect.
But on second and 3rd builds it doesn't show.
Error shows and waits till i dismiss the notification.

Using webpack watch also does not show the notification anymore.

Ps. i'm going on holiday today, so won't be able to help with this for a while

[2019-09-24 16:40] david-hollifield commented on #43
Maybe updating to the latest node-notifier (with latest SnoreToast) will resolve this issue.

https://github.com/mikaelbr/node-notifier/issues/277#issuecomment-534213576

[2019-09-26 11:01] yoavain-sundaysky opened #48 "Build time in notification"
An idea for enhancement: optionally showing build duration (from compilation start to end)

[2019-09-27 03:26] GiancarlosIO commented on #43
👀

[2019-10-15 20:42] RoccoC commented on #48
PR merged. Published version 1.2.1.

[2019-10-15 20:42] #48 closed

[2019-10-15 23:56] RoccoC commented on #43
I've updated to `node-notifier@6.0.0`. This appears to have fixed the issue. Please let me know if you still have issues after upgrading to `webpack-build-notifier@1.2.2`.

[2019-10-16 13:27] david-hollifield commented on #43
@RoccoC Works great! Thank you!

[2019-10-16 16:15] RoccoC commented on #43
Great, thanks for verifying!

[2019-11-22 15:23] david-hollifield commented on #43
I'm not sure what's happened, but notifications have stopped working again :(.

[2019-12-19 09:44] bwoolnough opened #51 "Sounds play when sound is false"
Setting sound to false doesn't prevent sounds from playing. It only works if I set the specific sound options (successSound etc) to false.

I am using macOS 10.15.2 and webpack-build-notifier 2.0.0.

[2019-12-19 15:13] RoccoC commented on #43
@david-hollifield -- apologies for the delay in my response. I will have a look this morning.

[2020-05-24 00:29] jimblue commented on #51
I can reproduce that bug on latest release too.
@RoccoC can you confirm that please ?
This bug is really annoying for development !
Tks man :)

[2020-05-24 06:03] #51 closed

[2020-05-24 06:18] RoccoC commented on #51
Whoops, somehow this bug fell off my radar. This one is now fixed in `2.0.1`.

[2020-05-24 06:36] jimblue commented on #51
No worries @RoccoC and thank you so much for the quick fix 💯

[2020-06-18 10:55] meskill opened #53 "Plugin crashes when child compiler has errors"
Some other plugins can create [child compilers](https://webpack.js.org/api/compilation-object/#createchildcompiler) (for example [extract-css-chunks-webpack-plugin](https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/blob/9daf720d11e671353d42d31fd05908ecae22af08/src/loader.js#L82)) which will lead to a crash with errors like this
[code]
if that child compiler has errors or warnings

T

[2020-06-18 14:08] RoccoC commented on #53
Thanks for the report.

Can you please provide a simple reproduce case for this scenario?

[2020-06-20 18:30] meskill commented on #53
@RoccoC
You can see reproduce for test cases here https://github.com/meskill/webpack-build-notifier/tree/bug-reproduce

[2020-06-23 16:20] RoccoC commented on #53
@meskill , this has been fixed in `v2.1.0`.

Thanks for the bug report and reproduce case -- do let me know if you run into any issues with the latest release. 👍

[2020-06-23 16:20] #53 closed

[2020-09-19 00:39] Slapbox opened #57 "Is it possible to get notifications for hot reloads?"
It would be great to get notifications of hot reload successes and failures. The motivation for this is that I find that I sometimes require a full reload, but that's not always immediately obvious.

[2020-09-20 15:56] RoccoC commented on #57
Hey @Slapbox , can you elaborate on this a bit? Are you referring to cases when the HMR runtime isn't able to replace a module and generates a warning like `[HMR] Cannot apply update. Need to do a full reload!` in the browser console?

Since hot reloading takes place in the browser (via the Webpack HMR runtime), and `webpack-build-notifier` hooks into the node Webpack compilation process on the de

[2020-09-20 16:02] RoccoC commented on #57
Also, not sure if this is helpful, but you can set the `suppressSuccess` config option to `true` to ensure a notification is _always_ generated: https://github.com/RoccoC/webpack-build-notifier#suppresssuccess.

By default, a success notification is only created on the first successful compilation (or after a failure); setting `suppressSuccess` to `true` will force a notification to be created for

[2020-09-20 19:08] Slapbox commented on #57
Hey @RoccoC, thanks for the reply! Yeah that's what I'm referring to. I wish I knew a bit more about the inner workings of Webpack so I could brainstorm possibilities, but for now I'll just have to leave it as a wishlist item.

Does Webpack signal build completion on HMR reloads at all? A success message that the build is done would still be useful for those situation where I'm sure I need a full

[2020-09-20 19:24] RoccoC commented on #57
I'm no expert in Webpack HMR :) but Webpack emits updates that are picked up by the browser HMR runtime when a build is completed successfully. I'm not 100% sure how this works and whether Webpack signals to the browser runtime or if the runtime polls for changes, but I'm guessing the former since it's using a websocket.

By default, `webpack-build-notifier` should _always_ create a success notifi

[2020-09-20 20:37] Slapbox commented on #57
Thanks again for your speedy reply! I had thought that the success notifications weren't working, but after updating some dependencies, including Webpack itself, it seems to be working properly. Maybe it was always working and I somehow missed it.

With that in mind, I'm going to close this unless you think the hot reload notifications are worth looking into.

Thanks again; your plugin really make

[2020-09-20 20:37] #57 closed

[2020-11-27 10:52] samuelg0rd0n opened #59 "Does it work in Big Sur?"
I'm new to this plugin. I installed it, added it to my webpack.config.js but after build nothing happened. I'm aware that Big Sur broke some things. It this one of them? Can someone confirm it's (not) working on Big Sur? Thank you.

[2020-12-01 20:00] RoccoC commented on #59
Unfortunately I'm still running Catalina, so I am unable to confirm whether Big Sur is causing any issues with notifications.

That being said, I did a cursory search of open issues over at [node-notifer](https://github.com/mikaelbr/node-notifier) (which is what `webpack-build-notifier` uses to create notifications) and didn't find anything related to Big Sur. I did find [this issue](https://githu

[2020-12-01 20:18] samuelg0rd0n commented on #59
Well, I just added this as the last item of the plugins array. Something like:

    plugins: [
        ....

        new WebpackBuildNotifierPlugin({
	        title: "My project",
	        logo: path.resolve("./www/images/favicons/favicon-32x32.png"),
        })
    ]

Basically just as it's presented on the homepage of this Github. I just removed suppressSuccess because I wanted the notifications

[2020-12-10 14:39] RoccoC commented on #59
Well, that looks fine to me.

I still haven't upgraded to Big Sur so am unable to test locally, but I'm wondering if you would mind trying out the `node-notifier` example on your machine to see whether or not it works? This would help isolate the issue to either this project or `node-notifier`.

You'd need to checkout [node-notifier](https://github.com/mikaelbr/node-notifier#readme) and then run

[2020-12-10 15:08] samuelg0rd0n commented on #59
node-notifier works fine. Notification popped up.

[2020-12-10 16:52] RoccoC commented on #59
@samuelg0rd0n , thanks for checking, I appreciate it.

I've upgraded `node-notifier` to the latest version in `webpack-build-notifier@2.1.1-alpha`. Would you mind giving this version a go to see if it fixes the problem for you? Thanks!

[2020-12-18 11:45] samuelg0rd0n commented on #59
Sorry for the delay in response. I tried upgrading but it didn't help.

[2020-12-21 17:09] RoccoC commented on #59
This was inadvertently closed; re-opening.

[2020-12-21 17:11] RoccoC commented on #59
:(

I just upgraded to `node-notifier@9.0.0` in the latest release (`2.1.1`), although it doesn't seem that this will fix the issue you are seeing. Strange that the `node-notifier` examples are working for you in Big Sur, but this package is not.

What version of webpack are you using?

[2020-12-21 20:07] samuelg0rd0n commented on #59
webpack 4.42.1 and webpack-cli 3.3.11

[2021-02-16 22:30] jimblue opened #63 "Doesn't seems to work on Apple Silicon with Big Sur using Webpack 5"
I'm not sure why it's not working @RoccoC... Apple Silicon ? Big Sur ? Wenbpack 5 ? All of them...

[2021-02-20 14:39] jimblue commented on #63
My bad, sorry for the noise, seems to be because of node-notifier.

[2021-02-20 17:44] RoccoC commented on #63
Hey @jimblue , thanks for the bug report. Yeah, could be -- I see there's an issue logged over there as well: https://github.com/mikaelbr/node-notifier/issues/361

Unfortunately I don't have an M1 to test with, but I'll do some digging to see if I can positively identify the source of the problem.

I'm going to re-open this so it doesn't fall off the radar.

[2021-02-20 18:05] RoccoC commented on #63
@jimblue, by chance are you seeing the same error as reported in the `node-notifier` issue?

[code]

[2021-02-22 18:22] jimblue commented on #63
@RoccoC no I don't sorry

[2021-02-26 18:00] GuidoHendriks commented on #63
@RoccoC I see the same error on my Mac mini M1. Please let me know if I can help out in any way.

[2021-04-26 21:50] jamiegluk opened #71 "Type checker notifications in watch mode"
Using Webpack with Typescript via ts-loader, in watch mode, the build completes successfully and I get a notification. But the type-checker runs after emit, so I still have to check the console to see if there were any type errors. In normal mode this causes the build to exit with an error code, but in watch mode it continues, so no notification, just console messages.

[2021-05-01 00:08] RoccoC commented on #71
Thanks for the report.

Are you using something like `fork-ts-checker-webpack-plugin` to run the type checker in another process?

Any chance you can provide an example webpack config or project to reproduce this?

[2021-05-03 02:41] jamiegluk commented on #71
It is quite a big build, so I will try and create an MRE and get back to you with that. I have just fried my laptop with spilt juice, so there might be a delay until I can get that done

[2021-06-16 04:33] fregante commented on #59
It's working for me, but I only see the regular terminal icon, not the status ones shown in the readme:

<img width="370" alt="Screen Shot 5" src="https://user-images.githubusercontent.com/1402241/122158264-8ebb7c00-ce96-11eb-9e77-7ecd36fbcb82.png">

Big Sur 11.4
Node v14.17.0
webpack 5.38.1
webpack-cli 4.6.0

[2021-06-16 04:49] fregante opened #77 "Disable via ENV"
This can be implemented in the webpack config, but I wonder if there can be a shared ENV that disables the notifier. e.g.

[code]

[2021-06-18 15:41] RoccoC commented on #77
Hi @fregante , yeah, this is a good idea. Feel free to raise a PR, otherwise I can try and get around to implementing this sometime in the near future.

[2021-08-19 23:39] meduzen commented on #59
Landing here coincidentally.

I never had trouble having icons on Big Sur (right now I’m on macOS 11.5.2).
See [this config file](https://github.com/Sunappu-Dojo/burokku/blob/c60c124c8ae144b7d4daef4d7b8813e411783a90/webpack.config.js#L25).

![image](https://user-images.githubusercontent.com/9340937/130157361-b39fe696-3205-4f41-b5bd-95deae798c70.png)

[2021-09-19 14:47] haxxxton commented on #63
not sure if related, but I just upgraded from webpack 4 to webpack 5, and latest build notifier has stopped working. (Intel chip)

[2021-11-19 22:28] astorije-vmware opened #81 "Errors when compiling a Webpack config written in TypeScript"
I don't have a minimal repro config at the moment, but it seems like when compiling a Webpack config file from TS to JS* using `tsc --build`, the following errors appear:

[code]

I also had to install `@types/node-notifier` on my repo to silence a few errors (I'm happy to post them as well), which is super weird, but at least it was easy to fix.

Is there any workaround I could use?

Versions:
-

[2021-12-01 17:36] RoccoC commented on #81
Hmm, so I suspect the issue is that `webpack-build-notifier` depends on `webpack@4.x` and your project is dependent upon `webpack@5.x`, and there is a type discrepancy between versions.

Regardless, I don't think your TS build should be transpiling (or type-checking) the `webpack-build-notifier` package. Does your tsconfig exclude `node_modules`?

[2022-09-30 14:24] abigmiu commented on #63
intel core can be used with BigSur. But MacOS 12 with intel core not work。